.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 1.5rem;
    background-color: aliceblue;
    border-bottom: 1px dashed rgb(113, 113, 113);
}

.Logo   {
    width: 5rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.login  {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 1.5rem;
    text-decoration: none;
}

.login  img{
    width: 3.5rem;
    margin-right: 1rem;
    border-radius: 100%;
}